{{template "BEGIN" .}}
<main id="main" class="main">
    <div class="main-overview">
        <div id="connections-total" class="overviewcard"
          hx-get="/admin/connections/total"
          hx-trigger="poll from:body">
        </div>   
        <div id="connections-active" class="overviewcard"
          hx-get="/admin/connections/active"
          hx-trigger="poll from:body">
        </div>
    </div>
    <div class="main-cards" id="main-cards" 
        hx-get="/admin/connections"
        hx-trigger="poll from:body">
      </div>
</main>
{{template "END" .}}
