{{template "BEGIN" .}}
<script>
    $(document).ready(function(){
      setInterval(reload, 1000);
      function reload(){
        $.get('connections', function(data) {
            $("#main-cards").html(data);
        });
      }
    });
</script>
<main class="main">
    <div class="main-overview">
        <div class="overviewcard">
            Total: {{.admin.ConnectionsTotal}}
        </div>
        <div class="overviewcard">
            Active: {{.admin.ConnectionsActive}}
        </div>
    </div>
    <div class="main-cards" id="main-cards">
    </div>
</main>
{{template "END" .}}
